body
{
    background-color: #F8F9FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
::-webkit-scrollbar
{
    display: none;
}
#cadastro
{
    padding: auto;
    text-align: center;
    color: #2C3E50;
    font-size: x-large;
    position: relative
}
#stickerA
{
    z-index: 1;
    position:absolute;
    left: 0;
    bottom: 0%;
    width: 25%;
}
#stickerB
{
    position:absolute;
    right: 0;
    top: 0%;
    width: 20%;
}
#stickerC
{
    position:absolute;
    transform: translate(-50%, -50%);
    left: 15%;
    top: 30%;
    left: 50%;
    width: 17%;
    
}
#inputsA
{
    overflow-y: auto;
    text-align: center;
    font-size: large;
    position: absolute;
    left: 49.5%;
    top: 65%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 300px; 
    max-height: 250px;
    box-sizing: border-box;
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(0, 0, 0, 0.288);
}
button 
{

    background-color: #7D864F;
    outline: none;
    column-gap: 100px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    color: black;
    font-family: 'Segoe UI';
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
button:hover 
{
    background-color: #4A5131;
    transform: scale(1.02);
}
input 
{
    padding: 12px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
}
#politica
{
    text-align: center;
    position:absolute;
    transform: translate(-50%, -50%);
    top : 90%;
    left: 50%;
    
}
select
{
    padding: 12px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
}